<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title><%=photos[0].name%></title>
    <meta charset="windows-1252">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
    <header class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #5900b3;">
        <a class="navbar-brand mb-0 h1" href="/">Photo Gallery</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/albums">Albums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addphoto">Add Photo</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="row justify-content-between" style="margin-top: 56px;">
            <div class="col-sm-11 col-md-6" id='album-title'>
                <h1><%=photos[0].name%></h1>
            </div>
			<div class="col-1" id="album-btns" margin-top: 0.5rem;">
				<button type="button" class="btn btn-secondary" id="edit-title-btn">Edit</button>
			</div>
        </div>
        <div class="row justify-content start">
            <%for(var i=0; i<photos.length; i++) {%>
                <div class="col-sm-12 col-md-6" style="padding: 1rem;">
                    <img src="../img/<%=photos[i].path%>" style="width: 25rem">
                </div>
             <%}%>   
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script>
		$(document).ready(function() {
			$("#album-btns").on("click", "#edit-title-btn", function() {
				$("#album-title").replaceWith("<form method='POST' action='/edittitle/<%=photos[0].album_id%>' class='form-inline col-sm-12 col-md-6' id='form-edit-title'><div class='form-group mb-2' id='edit-title-form'><input class='form-control form-control-lg' type='text' placeholder='<%=photos[0].name%>' name='editNameInput' required></div><button type='submit' class='btn btn-primary mb-2'>Submit</button></form>")
				$(this).replaceWith("<button type='button' class='btn btn-secondary' id='cancel-edit-btn'>Cancel</button>");
			})

			$("#album-btns").on("click", "#cancel-edit-btn", function() {
				$("#form-edit-title").replaceWith("<div class='col-11-sm col-md-6' id='album-title'><h1><%=photos[0].name%></h1></div>");
				$(this).replaceWith("<button type='button' class='btn btn-secondary' id='edit-title-btn'>Edit</button>");
			})
		});
	</script>
</body>
</html>